
<!DOCTYPE html>
<html>

<!-- Mirrored from gambolthemes.net/workwise_demo/HTML/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2019 05:48:11 GMT -->
<head>
<meta charset="UTF-8">
<title>WorkWise Html Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" type="text/css" href="css1/css/animate.css">
<link rel="stylesheet" type="text/css" href="css1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css1/css/line-awesome.css">
<link rel="stylesheet" type="text/css" href="css1/css/line-awesome-font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css1/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css1/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" type="text/css" href="css1/lib/slick/slick.css">
<link rel="stylesheet" type="text/css" href="css1/lib/slick/slick-theme.css">
<link rel="stylesheet" type="text/css" href="css1/css/style.css">
<link rel="stylesheet" type="text/css" href="css1/css/responsive.css">
</head>


<body>
	

	<div class="wrapper">
		


		<header>
			<div class="container">
				<div class="header-data">
					<div class="logo">
						<a href="index.html" title=""><img src="css1/images/logo.png" alt=""></a>
					</div><!--logo end-->
					<div class="search-bar">
						<form>
							<input type="text" name="search" placeholder="Tìm kiếm...">
							<button type="submit"><i class="la la-search"></i></button>
						</form>
					</div><!--search-bar end-->
					<nav>
						<ul>
							<li>
								<a href="index1" title="">
									<span><img src="css1/images/icon1.png" alt=""></span>
									Trang chủ
								</a>
							</li>
							<li>
								<a href="file" title="">
									<span><img src="css1/images/icon4.png" alt=""></span>
									Hồ sơ
								</a>
								<ul>
									<li><a href="user-profile.html" title="">User Profile</a></li>
									<li><a href="my-profile-feed.html" title="">my-profile-feed</a></li>
								</ul>
							</li>
							<li>
								<form method="GET">
								<a href="message" title="" class="not-box-open">
									<span><img src="css1/images/icon6.png" alt=""></span>
									Tin nhắn
								</a>
							</form>
								<div class="notification-box msg">
									<div class="nt-title">
										<h4>Cài đặt</h4>
										<a href="#" title="">Clear all</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a> </h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet.</p>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="messages.html" title="">Jassica William</a></h3>
							  					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
							  					<span>2 phút trước</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="messages.html" title="">Xem tất cả tin nhắn</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
							<li>
								<a href="#" title="" class="not-box-open">
									<span><img src="css1/images/icon7.png" alt=""></span>
									Thông báo
								</a>
								<div class="notification-box">
									<div class="nt-title">
										<h4>Cài đặt</h4>
										<a href="#" title="">Dọn dẹp tất cả</a>
									</div>
									<div class="nott-list">
										<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img1.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img3.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="notfication-details">
							  				<div class="noty-user-img">
							  					<img src="css1/images/resources/ny-img2.png" alt="">
							  				</div>
							  				<div class="notification-info">
							  					<h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
							  					<span>2 min ago</span>
							  				</div><!--notification-info -->
						  				</div>
						  				<div class="view-all-nots">
						  					<a href="#" title="">Xem tất cả thông báo</a>
						  				</div>
									</div><!--nott-list end-->
								</div><!--notification-box end-->
							</li>
						</ul>
					</nav><!--nav end-->
					<div class="menu-btn">
						<a href="#" title=""><i class="fa fa-bars"></i></a>
					</div><!--menu-btn end-->
					<div class="user-account">
						<div class="user-info">
							
							<img src="css1/images/anh2.jpg" alt="">
							<a href="#" title=""><%=users.name%></a>
							<i class="la la-sort-down"></i>
						</div>
			
						<div class="user-account-settingss">
							<h3>Setting</h3>
							<ul class="us-links">
								<li><a href="profile-account-setting" title="">Thiết lập tài khoản</a></li>
								<li><a href="#" title="">Riêng tư</a></li>
								<li><a href="#" title="">Faqs</a></li>
								<li><a href="http:" title="">Điều khoản và điều kiện</a></li>
							</ul>
							<h3 class="tc"><a href="http://localhost:3000/" title="">Đăng xuất</a></h3>
						</div><!--user-account-settingss end-->
					</div>
				</div><!--header-data end-->
			</div>
		</header><!--header end-->	

		<main>
			<div class="main-section">
				<div class="container">
					<div class="main-section-data">
						<div class="row">
							<div class="col-lg-3 col-md-4 pd-left-none no-pd">
								<div class="main-left-sidebar no-margin">
									<div class="user-data full-width">
										<div class="user-profile">
											<div class="username-dt">
												<div class="usr-pic">
													<img src="css1/images/anh.jpg" alt="">
												</div>
											</div><!--username-dt end-->
											<div class="user-specs">
												<h3><%=users.name%></h3>
											</div>
										</div><!--user-profile end-->
										<ul class="user-fw-status">
											<li>
												<h4>Theo dõi</h4>
												<span>34</span>
											</li>
											<li>
												<h4>Người theo dõi</h4>
												<span>155</span>
											</li>
											<li>
												<a href="#" title="">Xem hồ sơ</a>
											</li>
										</ul>
									</div><!--user-data end-->
									<div class="suggestions full-width">
										<div class="sd-title">
											<h3>Các gợi ý</h3>
											<i class="la la-ellipsis-v"></i>
										</div><!--sd-title end-->
										<div class="suggestions-list">
											<%manggoiy.forEach(function(i){%>
											<div class="suggestion-usd">
												<img src="css1/images/anh3.jpg" alt="">
												<div class="sgt-text">
													<h4><%=i.name%></h4>
						
												</div>
												<span><button><i class="la la-plus"></i></button></span>
											</div>
												<%});%>
											<div class="view-more">
												<a href="#" title="">Xem thêm</a>
											</div>
										</div><!--suggestions-list end-->
									</div><!--suggestions end-->
									<div class="tags-sec full-width">
										<ul>
											<li><a href="#" title="">Trung tâm hỗ trợ</a></li>
											<li><a href="#" title="">Vấn đề về</a></li>
											<li><a href="#" title="">Chính sách bảo mật</a></li>
											<li><a href="#" title="">Cộng đồng</a></li>
											<li><a href="#" title="">Cookies</a></li>
											<li><a href="#" title="">Công nghiệp</a></li>
											<li><a href="#" title="">Ngôn ngữ</a></li>
											<li><a href="#" title="">chính sách bản quyền</a></li>
										</ul>
										<div class="cp-sec">
											<img src="css1/images/logo2.png" alt="">
											<p><img src="css1/images/cp.png" alt="">Bản quyền 2017</p>
										</div>
									</div><!--tags-sec end-->
								</div><!--main-left-sidebar end-->
							</div>
							<div class="col-lg-6 col-md-8 no-pd">
								<div class="main-ws-sec">
									<div class="post-topbar">
										<div class="user-picy">
											<img src="css1/images/anh2.jpg" alt="">
										</div>
										<div class="post-st">
											<ul>
												<li><a class="post-jb active" href="#" title="">Đăng bài</a></li>
											</ul>
										</div><!--post-st end-->
									</div><!--post-topbar end-->
									<div class="posts-section">
										
									
									
										<%post.forEach(function(i){%>
															<% var a = i.time + " " + i.date %>
										<div class="posty">
											<div class="post-bar no-margin">
												<div class="post_topbar">
													<div class="usy-dt">
														<img src="css1/images/anh2.jpg" alt="">
														<div class="usy-name">
															
															<h3><%=i.name%></h3>
															<span><img src="css1/images/clock.png" alt=""><%=a%></span>
														</div>
													</div>
													<div class="ed-opts">
														<a href="#" title="" class="ed-opts-open"><i class="la la-ellipsis-v"></i></a>
														<ul class="ed-options">
															<li><a href="#" title="">Edit Post</a></li>
															<li><a href="#" title="">Unsaved</a></li>
															<li><a href="#" title="">Unbid</a></li>
															<li><a href="#" title="">Close</a></li>
															<li><a href="#" title="">Hide</a></li>
														</ul>
													</div>
												</div>
												<div class="epi-sec">
													<ul class="descp">
													</ul>
													<ul class="bk-links">
														<li><a href="#" title=""><i class="la la-bookmark"></i></a></li>
														<li><a href="#" title=""><i class="la la-envelope"></i></a></li>
													</ul>
												</div>
												<div class="job_descp">
													<ul class="job-dt">
														
													</ul>
													<p><%=i.content%></p>
													
												</div>
												<div class="job-status-bar">
													<ul class="like-com">
														<li>
															<a href="#"><i class="la la-heart"></i> Thích</a>
															<img src="css1/images/liked-img.png" alt="">
															<span>25</span>
														</li> 
														<li><a href="#" title="" class="com"><img src="css1/images/com.png" alt=""> Bình luận 15</a></li>
													</ul>
													<a><i class="la la-eye"></i>Xem 50</a>
												</div>
											</div>
											
											<div class="comment-section">
												<div class="plus-ic">
													<i class="la la-plus"></i>
												</div>
												<%mangcmt.forEach(function(e){%>
												<%var a = e.time + " " + e.date%>
												<%if(e.idpost.equals(i._id)){%>
												<div class="comment-sec">
													<ul>
														<li>
															<div class="comment-list">
																<div class="bg-img">
																	<img src="css1/images/anh2.jpg" alt="">
																</div>
																<div class="comment">
																	<h3><%=e.name%></h3>
																	<span><img src="css1/images/clock.png" alt=""><%=a%></span>
																	<p><%=e.content%></p>
																	<a href="#" title="" class="active"><i class="fa fa-reply-all"></i>Trả lời</a>
																</div>
															</div><!--comment-list end-->
															<ul>
																<li>
																	<div class="comment-list">
																	</div><!--comment-list end-->
																</li>
															</ul>
														</li>
													</ul>
												</div><!--comment-sec end-->
												<%}%>
												<%});%>
												<div class="post-comment">
													<div class="cm_img">
														<img src="css1/images/anh2.jpg" alt="">
													</div>
													<div class="comment_box">
														<form method="GET" action="sendComment">
															<input type="text" placeholder="Post a comment" name="content">
															<input type="hidden" name="idpost" value="<%=i._id%>">
															<input type="hidden" name="accpost" value="<%=i.account%>">


															<button type="submit">Gửi</button>
														</form>
													</div>
												</div><!--post-comment end-->
											</div><!--comment-section end-->
										</div><!--posty end-->
										<%});%>
										<div class="process-comm">
											<a href="#" title=""><img src="css1/images/process-icon.png" alt=""></a>
										</div><!--process-comm end-->
									</div><!--posts-section end-->
								</div><!--main-ws-sec end-->
							</div>
							<!--  -->
						</div>
					</div><!-- main-section-data end-->
				</div> 
			</div>
		</main>




		<div class="post-popup pst-pj">
			<div class="post-project">
				<h3>Đăng một dự án</h3>
				<div class="post-project-fields">
					<form>
						<div class="row">
							<div class="col-lg-12">
								<input type="text" name="title" placeholder="Title">
							</div>
							<div class="col-lg-12">
								<div class="inp-field">
									<select>
										<option>Thể loạiThể loại</option>
										<option>Thể loại 1</option>
										<option>Thể loại 2</option>
										<option>Thể loại 3</option>
									</select>
								</div>
							</div>
							<div class="col-lg-12">
								<input type="text" name="skills" placeholder="Skills">
							</div>
							<div class="col-lg-12">
								<div class="price-sec">
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
									<span>To</span>
									<div class="price-br">
										<input type="text" name="price1" placeholder="Price">
										<i class="la la-dollar"></i>
									</div>
								</div>
							</div>
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Post</button></li>
									<li><a href="#" title="">Cancel</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->

		<div class="post-popup job_post">
			<div class="post-project">
				<h3>Đăng bài</h3>
				<div class="post-project-fields">
					<form method="GET" action="http://localhost:3000/post">
						<div class="row">
							
							<div class="col-lg-12">
								<textarea name="description" placeholder="Description"></textarea>
								<input type="hidden" name="account" value="<%=users.user%>">
								<input type="hidden" name="name" value="<%=users.name%>">
							</div>
							<div class="col-lg-12">
								<ul>
									<li><button class="active" type="submit" value="post">Đăng</button></li>
									<li><a href="#" title="">Hủy</a></li>
								</ul>
							</div>
						</div>
					</form>
				</div><!--post-project-fields end-->
				<a href="#" title=""><i class="la la-times-circle-o"></i></a>
			</div><!--post-project end-->
		</div><!--post-project-popup end-->



		
			<div class="chatbox">
				<div class="chat-mg bx">
					<a href="#" title=""><img src="css1/images/chat.png" alt=""></a>
					<span>2</span>
				</div>
				<div class="conversation-box">
					<div class="con-title">
						<h3>Trò chuyện</h3>
						<a href="#" title="" class="close-chat"><i class="la la-minus-square"></i></a>
					</div>
					<div class="chat-list">
						<div class="conv-list active">
							<div class="usrr-pic">
								<img src="css1/images/resources/usy1.png" alt="">
								<span class="active-status activee"></span>
							</div>
							<div class="usy-info">
								<h3>John Doe</h3>
								<span>Lorem ipsum dolor <img src="css1/images/smley.png" alt=""></span>
							</div>
							<div class="ct-time">
								<span>1:55 PM</span>
							</div>
							<span class="msg-numbers">2</span>
						</div>
						<div class="conv-list">
							<div class="usrr-pic">
								<img src="css1/images/resources/usy2.png" alt="">
							</div>
							<div class="usy-info">
								<h3>John Doe</h3>
								<span>Lorem ipsum dolor <img src="css1/images/smley.png" alt=""></span>
							</div>
							<div class="ct-time">
								<span>11:39 PM</span>
							</div>
						</div>
						<div class="conv-list">
							<div class="usrr-pic">
								<img src="css1/images/resources/usy3.png" alt="">
							</div>
							<div class="usy-info">
								<h3>John Doe</h3>
								<span>Lorem ipsum dolor <img src="css1/images/smley.png" alt=""></span>
							</div>
							<div class="ct-time">
								<span>0.28 AM</span>
							</div>
						</div>
					</div><!--chat-list end-->
				</div><!--conversation-box end-->
			</div>
		</div><!--chatbox-list end-->

	</div><!--theme-layout end-->



<script type="text/javascript" src="css1/js/jquery.min.js"></script>
<script type="text/javascript" src="css1/js/popper.js"></script>
<script type="text/javascript" src="css1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="css1/js/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="css1/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="css1/js/scrollbar.js"></script>
<script type="text/javascript" src="css1/js/script.js"></script>

</body>

<!-- Mirrored from gambolthemes.net/workwise_demo/HTML/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 23 Mar 2019 05:48:53 GMT -->
</html>